body{
	background: lightsalmon;
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Welcome {
	position: absolute;
	left: 23px;
	top: 26px;
	overflow: hidden;
	width: 301px;
	height: 56px;
	text-align: center;
	font-family: Script MT;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(112,112,112,1);
}
header{
    position: relative; 
    overflow: hidden;
    left: 10px;
    top: 20px;
     text-align: center;
     font-family: Script MT;
     font-style: normal;
     font-weight: bold;
     font-size: 45px;
 }
#Icon___Menu___Rounded {
	opacity: 0.5;
	position: absolute;
	width: 36px;
	height: 52px;
	left: 5px;
	top: -130px;
	overflow: visible;
}

#button2 {
	position: absolute;
	width: 165px;
	height: 46px;
	left: 110px;
	top: 450px;
	overflow: visible;
}
.Rectangle_4 {
	filter: drop-shadow(0px 5px 10px rgba(255, 105, 105, 0.396));
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#CHECKOUT {
	position: absolute;
	left: 45px;
	top: 15px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Neusa Next Std;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.6px;
}
.button{
    border: none;
    background: none;
}
#main-container{
position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%);
	left: 50%;
	background: #E5E5E5;
	width: 360px;
	height: 700px;
	margin: 45px auto;	

	background-color: rgba(198,199,213,1);

	overflow: hidden;
	border-radius: 7px;
	--web-view-name: MainMenu;
	--web-view-id: MainMenu;
	--web-scale-on-double-click: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
    --web-enable-deep-linking: true;
}
